@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');

:root {
    --mainColor: #EDF4F2;
    --textColor: #1E1E1E;
    --linkColor: #31473A;
    --headingColor: #2C8477;
}

* {
    margin: 0;
    padding: 0;
}

/* Header Section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 15% 2%;
    background-color: #fff;
}

div.logo {
    color: #2C4F38;
    font-family: 'Markazi', sans-serif;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 18px;
}

.nav-links a {
    text-decoration: none;
    color: var(--linkColor);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
}

a:hover {
    text-decoration: underline;
}

/* Sections */

section {
    color: var(--textColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Intro Section */

section.intro {
    background-color: var(--mainColor);
    overflow: auto;
    height: 91vh;
}

.intro .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    height: 100%;
}

.intro-content {
    width: 100%;
    max-width: 800px; 
    margin: 0;
    font-family: 'Karla', sans-serif;
    text-transform: capitalize;
}

.intro-content .name {
    color: #008080;
}

.intro-content h1 {
    font-size: 5rem;
}

.intro-content p {
    padding-top: 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.intro-content span:not(:last-child)::after {
    content: "|";
    text-align: center;
    margin: 0 1.4em;
}

/* About Section */

section.about {
    background-color: #fff;
    overflow: auto;
    height: 100vh;
}

.about .container {
    height: 100%;
    width: 100%;
    max-width: 850px; 
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
}

.about-heading {
    text-align: center;
    padding: 30px 0;
}

.about-heading h2 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: var(--headingColor);
}

.about-heading p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: var(--textColor);
    font-weight: 800;
    padding: 10px 0;
}

.about-intro {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 60px;
}

.profile-img {
    display: flex;
    justify-content: flex-start;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: fill;
}

.about-intro p {
    font-size: 1.15rem;
    max-width: 600px;
    text-align: justify;
    color: var(--textColor);
}

.profile {
    width: 100%; 
}

.profile h3 {
    font-size: 1.3rem;
    color: var(--textColor);
    font-weight: 800;
    padding: 10px 0;
}

.profile p {
    font-size: 1.1rem;
    text-align: justify;
    color: var(--textColor);
}

.profile span {
    font-weight: 900;
}

.profile hr {
    border: none;
    height: 1px;
    width: 250px;
    margin: 20px auto 5px; 
    background-color: var(--headingColor);
}

.languages li {
    list-style: none;
    font-size: 1.1rem;
    text-align: justify;
    padding: 5px 0;
}

/* Project Section */

section.projects {
    background-color: var(--mainColor);
    overflow: auto;
    height: 100vh;
}

.projects .container {
    height: 100%;
    width: 100%;
    max-width: 850px; 
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
}

.projects h2 {
    text-align: center;
    padding: 30px 0;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: var(--headingColor);
}

.project-list {
    height: 85%;
    width: 100%;
    max-width: 950px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    /* gap: 30px; */
}

#project-box {
    max-width: 30%;
    border: 1px solid #008080;
}

/* Contact Section */

section.contact {
    background-color: #fff;
}

.contact .container {
    width: 100%;
    max-width: 850px; 
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
}

.contact h2 {
    text-align: center;
    padding: 30px 0 15px;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: var(--headingColor);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 10px 0;
}

.social-links a {
    font-size: 30px;
    margin: 20px;
    color: var(--linkColor);
    transition: transform 0.1s ease-in-out;
}

.social-links a:hover {
    transform: translateY(-5px);
}

#copyright {
    font-family: 'Karla', sans-serif;
    color: #e0f0ec;
    padding: 10px 0;
}



/* Media Queries */
@media screen and (max-width: 768px) {
    nav {
        padding: 2% 2%;
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .nav-links a {
        font-size: 18px;
    }
    
    .intro-content h1 {
        font-size: 4rem;
    }
    
    .intro-content p {
        font-size: 1.1rem;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .intro-content span:not(:last-child)::after {
        content: none
    }
}